---
--- 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Redireccionando...</title>
    <script type="text/javascript">
      (function() {
        const storageKey = 'lang';
        // Verifica si ya hay un idioma guardado en localStorage
        const storedLang = localStorage.getItem(storageKey);
        if (storedLang) {
          window.location.href = `/CV/${storedLang}`;
          return;
        }
        
        // Obtiene el idioma del navegador
        let lang = navigator.language || navigator.userLanguage || 'en';
        // Si el idioma del navegador empieza por "es", asigna 'es'. En caso contrario, 'en'
        lang = lang.toLowerCase().startsWith('es') ? 'es' : 'en';
        
        // Guarda el idioma en localStorage
        localStorage.setItem(storageKey, lang);
        // Redirige a la ruta correspondiente
        window.location.href = `/CV/${lang}`;
      })();
    </script>
  </head>
  <body>
    <p>Redireccionando...</p>
  </body>
</html>
