---
import Github from '../components/Icons/Github.astro'
import Button from './Button.astro'
import Email from './Icons/Email.astro'
---
<div class="my-5 mx-8">
    <Button Icon={Github} href="https://github.com/LGuillermoUH" content="Proyectos Personales"/>
    <Button Icon={Email} href="luisguillermourenahernandez@gmail.com" content="Correo Electronico" id="email" type={true}/>
    <header class="border-b pb-2 mb-4 border-text-title">
        <h2 class="text-xl font-bold text-text-title">About me:</h2>
    </header>    
    <div class="grow prose-lg p-4">
        <p class=" text-text-body">
            Soy un desarrollador de software apasionado por diseñar y construir soluciones tecnológicas que transformen ideas en productos funcionales y de alto impacto. Con experiencia en desarrollo Frontend, Backend y Full Stack, he trabajado en proyectos que abarcan desde la creación de aplicaciones SaaS hasta sistemas empresariales escalables.

            Mi enfoque se centra en la calidad del código, la eficiencia operativa y la experiencia del usuario, utilizando tecnologías modernas como React, Node.js, .NET y herramientas en la nube como Azure. Aspiro a contribuir al desarrollo de sistemas innovadores y escalables, optimizando procesos y generando valor para las empresas.    
        </p>
    </div>  
</div>