---

---
<div class="w-full flex flex-col border-2 rounded-sm border-t-color-4 p-3">
    <header class="flex-none h-auto prose">
        <h2 class="text-t-color-4">
            About me:
        </h2>
    </header>    
    <div class="grow prose-lg">
        <p>
            Soy un desarrollador de software apasionado por diseñar y construir soluciones tecnológicas que transformen ideas en productos funcionales y de alto impacto. Con experiencia en desarrollo Frontend, Backend y Full Stack, he trabajado en proyectos que abarcan desde la creación de aplicaciones SaaS hasta sistemas empresariales escalables.

            Mi enfoque se centra en la calidad del código, la eficiencia operativa y la experiencia del usuario, utilizando tecnologías modernas como React, Node.js, .NET y herramientas en la nube como Azure. Aspiro a contribuir al desarrollo de sistemas innovadores y escalables, optimizando procesos y generando valor para las empresas.    
        </p>
    </div>  
</div>