---

---
<div class="w-full flex flex-col border-2 rounded-sm border-t-color-4 p-3">
    <header class="flex-none h-auto prose">
        <h2 class="text-t-color-4">
            About me:
        </h2>
    </header>    
    <div class="grow prose-lg">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam sapiente sit natus, accusantium consequuntur pariatur vitae doloribus magni temporibus molestiae, numquam, repellat minima delectus voluptatibus modi. Consequatur distinctio error magnam!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse saepe, aut consequuntur quaerat eligendi minus architecto enim explicabo alias soluta, assumenda accusamus nulla voluptates, porro veniam rerum reiciendis illum repellat.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum odit corporis cumque doloribus asperiores nostrum, dolorum itaque, dolore veritatis ipsam quos dignissimos placeat dolor ipsa alias quae fuga adipisci expedita!
        </p>
    </div>  
</div>