---
    interface Props {
        href: string;
        Icon: any;
        type?: boolean;
        id?: string
    }
    const {href, Icon, type = false, id = "actionButton"} = Astro.props as Props
---
{type ? (
    <button
      id={id}
      type="button"
    >
      <Icon class=" text-button-icon mr-2" />
    </button>
  ) : (
  <a 
    href={href} 
    target="_blank"
    role="link"
    >
        <Icon class=" text-button-icon mr-2"/>

    </a>
  )}


<script define:vars={{ href, type, id }}>
  if (type) {
    const button = document.getElementById(id);

    button?.addEventListener('click', async () => {
      try {
        // Copiamos texto al portapapeles
        await navigator.clipboard.writeText(href);

        // MOSTRAMOS EL TOAST DIRECTO (sin buscar "#toast")
        const event = new CustomEvent('show-toast', {
          detail: {
            message: '¡Correo electronico copiado!',
            duration: 1000,
          },
        });
        document.dispatchEvent(event);

      } catch (error) {
        console.error("Error al copiar el texto: ", error);
      }
    });
  }
</script>

