---
import { getCollection } from 'astro:content';
import ExperienceList from '../components/ExperienceList.astro';
const { lang } = Astro.params;
const experienceData = await getCollection('Experience',({data}) => data.lang == lang);
---

<div class="mx-8 ">
  <h2 class="text-xl font-bold border-border text-primary-text border-b pb-2 mb-4">Experiencia</h2>
  <ExperienceList companies={experienceData[0].data.experience} />
</div>
