---

---

<div class="container bg-gray-900 text-white p-6">
    <h2 class="text-xl font-bold border-b pb-2 mb-4">Experiencia</h2>
    <div class="border border-t-color-4 p-4 mb-4">
      <h3 class="text-lg font-semibold">Desarrollador Full Stack</h3>
      <h4 class="text-sm text-gray-400">Compañía XYZ</h4>
      <p class="text-xs text-gray-500">Enero 2022 - Presente</p>
      <p>- Desarrollé y optimicé aplicaciones utilizando React y Node.js.</p>
      <p>- Lideré un equipo de desarrollo de 5 personas.</p>
    </div>
    <div class="border border-t-color-4 p-4">
      <h3 class="text-lg font-semibold">Desarrollador Frontend</h3>
      <h4 class="text-sm text-gray-400">Compañía ABC</h4>
      <p class="text-xs text-gray-500">Junio 2020 - Diciembre 2021</p>
      <p>- Diseñé interfaces intuitivas usando TailwindCSS.</p>
      <p>- Colaboré estrechamente con diseñadores.</p>
    </div>
    <div class="border border-t-color-4 p-4 mb-4">
        <h3 class="text-lg font-semibold">Desarrollador Full Stack</h3>
        <h4 class="text-sm text-gray-400">Compañía XYZ</h4>
        <p class="text-xs text-gray-500">Enero 2022 - Presente</p>
        <p>- Desarrollé y optimicé aplicaciones utilizando React y Node.js.</p>
        <p>- Lideré un equipo de desarrollo de 5 personas.</p>
      </div>
      <div class="border border-t-color-4 p-4">
        <h3 class="text-lg font-semibold">Desarrollador Frontend</h3>
        <h4 class="text-sm text-gray-400">Compañía ABC</h4>
        <p class="text-xs text-gray-500">Junio 2020 - Diciembre 2021</p>
        <p>- Diseñé interfaces intuitivas usando TailwindCSS.</p>
        <p>- Colaboré estrechamente con diseñadores.</p>
      </div>
  </div>
  