---
import { Image } from 'astro:assets';
---

<div class="relative w-full h-full">
    <!-- Línea de fondo -->
    <div class="absolute z-0 inset-y-0 left-1/2 transform -translate-x-1/2 w-0.5 bg-border"></div>

    <!-- Imagen -->
    <img class="relative z-10 h-16 w-16 rounded-md mx-auto" src="../logo.png" alt="Descripción de la imagen" />
</div>
