---
import ExperienceItem from '../components/ExperienceItem.astro';

const { companies } = Astro.props;
---

<div class="space-y-4">
  {companies.map((company, index) => (
    <ExperienceItem company={company} key={`company-${index}`} />
  ))}
</div>
