---
import { Image } from 'astro:assets';
import m0sb1tLogo from '../assets/m0sb1t_logo.jpeg';
---

<div class="relative w-full h-full">
    <!-- Línea de fondo -->
    <div class="absolute z-0 inset-y-0 left-1/2 transform -translate-x-1/2 w-0.5 bg-border"></div>

    <!-- Imagen -->
    <Image class="relative z-10 h-16 w-16 rounded-md mx-auto" src={m0sb1tLogo} alt="Descripción de la imagen" />
</div>
