---
import { getCollection } from 'astro:content';
import Chip from './Chip.astro';
const allBlogPosts = await getCollection('Technologies');
---
<div slot="sidebar" class="border-2 rounded-xs border-t-color-4 p-3 h-full">
    <header class="flex-none h-auto prose">
        <h2 class="">
            Skills:
        </h2>
    </header> 
    {
        allBlogPosts.map((item, index) => {
             return <Chip title = {item.data.tittle}/>
        })
    }
</div>