<script>
    if (typeof window !== 'undefined') {
      const savedTheme = localStorage.getItem('theme');
      if (!savedTheme) {
        localStorage.setItem('theme', 'dark');
        document.querySelector("html")?.setAttribute("data-theme", 'dark');
      } else{
        document.querySelector("html")?.setAttribute("data-theme", savedTheme);
      }
    }
    const button = document.getElementById("toggleTheme");

    button?.addEventListener('click', async () => {
      const newTheme = localStorage.getItem('theme') === 'dark' ? 'light' : 'dark';
      localStorage.setItem('theme', newTheme);
      document.querySelector("html")?.setAttribute("data-theme", newTheme);
    // Configuración inicial del tema
    
    })
  </script>
  
  <button
    id="toggleTheme"
    class="p-2 bg-primary-light dark:bg-primary rounded"
  >
    <span id="theme-icon">🌞</span>
  </button>
  