html[data-theme="dark"] {
  --color-background: #000000; /* Azul noche */
  --color-border: rgb(47, 51, 54); /* Gris oscuro */
  --color-button-text: #E1E3E4; /* Azul pálido */
  --color-button-text-inactive: #6D7277; /* Azul pálido */
  --color-button-icon: #1D9BF0;
  --color-button-icon-inactive: #0B3D5E;
  --color-button-menu-icon: #E7E9EA;
  --color-primary-text: #E6E8E9;
  --color-secondary-text:#6F7479;
}