html[data-theme="light"] {
  --color-background: #FFFFFF; /* Blanco para un fondo claro */
  --color-border: #D3D6D8; /* Gris claro */
  --color-button-text: #1A1A1A; /* Negro para texto visible en botones */
  --color-button-text-inactive: #888D91; /* Gris medio para texto inactivo */
  --color-button-icon: #007ACC; /* Azul brillante para íconos activos */
  --color-button-icon-inactive: #9ACAFD; /* Azul claro para íconos inactivos */
  --color-button-menu-icon: #4A4A4A; /* Gris oscuro para íconos de menú */
  --color-primary-text: #1A1A1A; /* Negro para texto principal */
  --color-secondary-text: #5A5F63; /* Gris intermedio para texto secundario */
}
